* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: solid 1px gray;
  text-indent: initial;
  border-spacing: 0;
  border-collapse: collapse;
  opacity: 1;
  display: table;
  margin: 3em 0;
  width: 95%;
  box-sizing: border-box;
  padding: 0.3em;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border: inherit;
}

tr {
  display: table-row;
  transform: matrix(1, 0, 0, 1, 0, 0);
  border: inherit;
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.15);
}

th {
  padding: 1em;
}

td {
  display: table-cell;
  padding: 1em;
  border: 1pt solid rgba(255, 255, 255, 0.3);
  font-weight: 100;
  font-size: 0.9em;
}

.mission-status {
  background-color: grey;
  border-radius: 4px;
  font-size: 0.7em;
  text-align: center;
  padding: 0.5em;
  border: solid 1px #fff;
}

.mission-button {
  background-color: #000;
  color: #fff;
  border: solid 1px #fff;
  padding: 1em;
  font-size: 0.7em;
  cursor: pointer;
}

.ms-name-col,
.ms-status-col,
.ms-btn-col {
  width: 12%;
}

.ms-btn-col {
  text-align: center;
}

.reserved td p {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.reserved td button {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: none;
}
